body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

/* ==== LANDING PAGE STYLING START ==== */

.header {
  font-size: 45px;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  color: #240d57;
}

span {
  background: linear-gradient(90deg, #8456ec 24.2%, #e87bf8 120.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  font-size: 25px;
  text-align: center;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 40px;
  font-weight: 400;
  line-height: 22px;
  color: #4f4f4f;
}

.status-container {
  border: 1px solid lightgray;
  width: 80%;
  margin: 25px 10%;
  filter: drop-shadow(0 0 17.6435px rgba(0, 0, 0, 0.05));
  border-radius: 13.2326px;
}

.img {
  filter: drop-shadow(0 0 17.6435px rgba(0, 0, 0, 0.05));
  border-top-left-radius: 13.2326px;
  border-top-right-radius: 13.2326px;
  width: 100%;
  margin-bottom: 15px;
}

.detials-container {
  margin-left: 25px;
}

.detials-container h2 {
  color: #240d57;
}

.response {
  display: flex;
  margin-bottom: 45px;
}

.response h5 {
  margin-right: 20px;
  color: #240d57;
}

.response p {
  margin-right: 20px;
  color: #501fc1;
}

.invite-button {
  border: 1px solid #501fc1;
  background: linear-gradient(90deg, #8456ec 24.2%, #e87bf8 120.46%);
  height: 30px;
  text-align: center;
  align-items: center;
  color: #fff;
  width: 75px;
  border-radius: 5px;
  margin-right: 20px;
}

.landing-holder {
  display: flex;
  margin-bottom: 30px;
}

.state {
  margin: 0 25px;
  line-height: 13px;
  width: 100%;
}

.state p {
  font-size: 13px;
  width: 100%;
}

.state h5 {
  font-size: 18px;
  width: 100%;
  color: #240d57;
}

.icon {
  margin-top: 10px;
  margin-right: 10px;
}

.icon1 {
  margin-top: 12px;
  margin-right: 10px;
}

.icon2 {
  margin-top: 10px;
  margin-right: 10px;
}

.icons {
  margin-top: 12px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  height: 60px;
  left: calc(50% - 187px / 2);
  top: 616px;
  background: linear-gradient(90deg, #8456ec 3.25%, #e87bf8 100%);
  border-radius: 10px;
  margin: 10px auto;
  color: #fff;
  font-size: 20px;
  width: 300px;
  border: 1px solid #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

/* ==== LANDING PAGE STYLING ENDS ==== */

/* ===== EVENT PAGE STYLING STARTS  ====  */

.events-container {
  margin-left: 25px;
}

.events-container h2 {
  color: #240d57;
}

.event-holder {
  display: flex;
  margin-bottom: 30px;
}

/* ===== EVENT PAGE STYLING ENDS  ====  */